@import '../../App.scss';

.Standings__root {
    width: 100%;

    & aside {
        display: inline-block;
        width: 40px;
    }

    & > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    
        & > span:not(:first-of-type), & > b:not(:first-of-type) {
            text-align: center;
        }
    }

    & > div:nth-of-type(odd):not(:first-of-type) {
        background-color: $table_accent_color;
    }
}
