@import '../../App.scss';

.Standings__root {
    width: 100%;

    & aside {
        display: inline-block;
        width: 30px;
        padding-left: 10px;
    }

    & > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    
        & > span:not(:first-child), & > b:not(:first-child) {
            text-align: center;
        }

        & > :last-child {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

            & > aside {
                width: 100%;
            }
        }
    }

    & > div:nth-of-type(odd):not(:first-of-type) {
        background-color: $table_accent_color;
    }
}
