.Tabs__div__wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #000;

    & > ul {
        li:last-of-type {
            border-bottom: 1px solid #000;
        }
    
        li:nth-child(even) {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    
        li {
            padding: .5rem;
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            color: #aaa;
            display: flex;
            justify-content: center;
            &.active {
                border-right: 0;
                color: #000;
            }
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.Tabs__div__fill {
    flex: 1;
    border-right: 1px solid #000;
}